p {
	font-size: 100px;
	color:white;
	position:center;
}

body {
	background:url(http://www.pickywallpapers.com/games/mirror-s-edge-skyscraper-picture/); 
	background-size:cover;
	background-repeat:no-repeat;
	background-position:right;
}

head {
	
}





/*Color change on hover*/
button {
	background:#0099ff;
}

button:hover {
	background:#ff0000;
}
