html{
	min-height:100%;
}

#bio {
	font-size: 100px;
	color:white;
	position:center absolute;
}

body {
	background:url(http://www.hdwallpapers.in/wallpapers/sunset_time-1920x1200.jpg); 
	background-size:cover;
	background-repeat:no-repeat;
	background-position:right;
}

head {
	font-size: 125px;
	font-family:Garamond;
}

#email {
	
}



/*Color change on hover*/
button {
	background:#0099ff;
	box-shadow:5px 5px 5px 0 #000;
}

button:hover {
	background:#ff0000;
}
